
:root {
    --width-card-pc: 430px;
    --width-card-pc_425: 380px;
    --width-card-pc_375: 340px;
    --width-card-pc_320: 300px;
    --start-width-card-pc: -35%;
    --start-width-card-pc_800: -65%;
    --start-width-card-pc_768: -70%;
    --start-width-card-pc_640: -85%;
    --start-width-card-pc_425: -102%;
    --start-width-card-pc_375: -105%;
    --start-width-card-pc_320: -105%;

    --dark-blue: #274c5b;
    --yellow: #efd372;
    --white: #ffffff;
}

@media screen and (max-width: 1410px) {
    .container-organick, .container-offer, .block-subscription .container,
    .container-footer {
        max-width: 1280px;
    }

    .container-type {
        height: 540px;
    }

    .container-organick > img {
        max-width: 600px;
    }  

    .container-offer .card-product {
        max-width: 350px;
        padding: 30px;   
    }

    .container-offer .card-product > img {
        max-width: 350px;
    }

    .container-offer .card-product__price-after {
        margin-right: 50px;
    }

    .container-type div {
        max-width: 430px;
    }
}

@media screen and (max-width: 1400px) {
    .block-cards__container .card {
        max-width: 600px;
    }

    .block-cards__container {
        max-width: 1280px;
    }

    .container-products {
        max-width: 1020px;
    }

    .container-products .card-products {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1330px) {

    .block-cards__container .card {
        max-width: 565px;
    }

    .container-type {
        height: 500px;
    }

    .block-cards__container {
        max-width: 1180px;
        margin: 100px auto;
    }

    .card__text {
        margin: 70px auto 75px 55px;
    }

    .container-organick, .container-offer, .block-subscription .container,
    .container-footer  {
        max-width: 1180px;
    }

    .container-offer .card-product {
        max-width: 300px;
        padding: 20px;
    }

    .container-offer .card-product > img {
        max-width: 300px;
        margin-bottom: 0px;
    }

    .container-offer .block-mark {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .container-offer .card-product__price-after {
        margin-right: 0;
    }

    .container-type div {
        max-width: 400px;
    }

}

@media screen and (max-width: 1280px) {
    .block-cards__container .card {
        max-width: 500px;
    }

    .container-type {
        height: 460px;
    }


    .block-cards__container, .container-organick, 
    .container-customer, .container-offer, .block-subscription .container,
    .container-footer {
        max-width: 1050px;
    }

    .container-footer {
        margin: 80px auto 40px;
    }

    .block-content{
        max-width: 215px;
    }

    .block-socials-links {
        max-width: 450px;
        padding: 0 30px;
    }

    .container-subscription {
        padding: 0 60px; 
        margin: 70px auto;
    }

    .card__text {
        margin: 60px auto 55px 55px;
    }

    .container-organick > img {
        max-width: 500px;
    }

    .container-offer .card-product {
        max-width: 300px;
    }

    .container-offer .card-product > img {
        max-width: 300px;
    }

    .container-type div {
        max-width: 370px;
    }

    .container-type {
        margin: 40px auto;
    }
}

@media screen and (max-width: 1152px) {

    .block-cards__container .card {
        max-width: 450px;
    }

    
    .container-type {
        height: 400px;
    }

    .header-blocks {
        display: flex;
        gap: 60px;
    }


    .block-cards__container {
        margin: 75px auto;
        max-width: 950px;
    }

    .card__text {
        margin: 40px auto 45px 35px;
    }

    .container-organick {
        justify-content: center;
        margin: 100px auto;
    }

    .container-organick > img {
        display: none;
    }

    .block-statistics {
        height: 200px;
        width: 200px;
    }

    .blocks-statistics {
        max-width: 900px;
        margin: 100px auto 0;
    }

    .block-statistics_border-green {
        height: 210px;
        width: 210px;
    }

    .container-offer, .container-footer, .block-subscription .container {
        max-width: 950px;
    }

    .block-socials-links {
        max-width: 360px;
    }

    .container-subscription {
        padding: 0 20px;
    }

    .container-offer .card-product {
        max-width: 250px;
    }

    .container-offer .card-product > img {
        max-width: 250px;
    }

    .container-type div {
        max-width: 330px;
    }

    .type button {
        max-width: 270px;
    }
}

@media screen and (max-width: 1024px) {

    .container-customer, .blocks-statistics, .container-offer, .container-farm,
    .block-cards__container, .block-cards__container .card, .container-farm, 
    .block-subscription .container, .container-footer
     {
        max-width: 800px;
    }

    .container-type {
        height: 400px;
    }

    .block-socials-links {
        max-width: 250px;
    }

    .container-subscription {
        padding: 0 60px;
    }

    .container-subscription {
        flex-direction: column;
    }

    .container-subscription h3 {
        max-width: 600px;
    }

    .container-farm {
        max-width: 720px;
    }

    .block-cards__container
     {
        flex-direction: column;
        gap: 35px;
    }

    .card__text {
        margin: 145px 0 145px 55px;
    }

    .container-products .card-products {
        max-width: 960px;
        justify-content:start;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 0 30px;
        overflow: scroll;
    }

    .card-product {
        max-width: 350px;
        padding: 30px;
    }

    .card-product > img {
        max-width: 350px;
        margin-bottom: 0px;
    }

    .container-products .card-products .card-product {
        animation: scrollNotepad 10s ease-in infinite;
    }

    .container-products .card-products:hover .card-product {
        animation: none;
    }

     .container-products, .container-organick, .container-offer,
     .container-footer, .container-type, .container-customer {
        margin: 40px auto;
    }

    .block-subscription .container {
        margin-top: 40px;
    }

    .card-product__price-after {
        margin-right: 50px;
    }

    .block-statistics {
        height: 170px;
        width: 170px;
    }

    .blocks-statistics {
        margin-top: 50px;
    }

    .block-statistics_border-green {
        height: 180px;
        width: 180px;
    }

    .customer-info__job {
        margin-bottom: 50px;
    }

    .container-offer .card-product {
        max-width: 200px;
    }

    .container-offer .card-product > img {
        max-width: 200px;
    }
    
    .container-offer .block-mark {
        display: flex;
        flex-direction: column;
    }

    .container-offer .card-product__price-after {
        margin-left: 0;
    }

    .block-mark p {
        line-height: 30px;
    }

    .block-stars {
        margin-top: 0px;
    }

    .header-offer {
        flex-direction: column;
    }

    .header-offer__button {
        margin-top: 20px;
    }

    .block-farm .container {
        background-size: cover;
    }

    .container-farm {
        border-radius: 30px;
        margin: 40px auto;
        padding: 40px;
    }

    .container-type > div {
        max-width: 33.3%;
    }

    .block-nav {
        display:block;
        position: relative;

        /* order: 2; */
    }

    .block-nav-bar {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .header-blocks {
        justify-content: left;
    }

    .header-nav {
        /* position: absolute;
        left: 930px; */
        order: 3;
        margin: 0;
        max-width: 55px;
    }

    .block-nav {
        position:relative;
        z-index: 999;
    }

    .header-nav ul {
        position: absolute;
        flex-direction: column;
        justify-content:unset;
        opacity: 0;
        background: var(--yellow);
        width: 160px;
        top: -480px;
        right: 0px;
        transition: all .5s ease-in;
        padding: 60px 90px 140px 30px;
        border-radius: 0 0 0 30px;
        line-height: 50px;
        gap: 20px;
    }

    .block-backet {
        opacity: 0;
        position: absolute;
        top: 420px;
        right: 0px;
        transition: all .5s ease-in;
    }

    .header-nav a {
        color: var(--white);
    }

    .header-blocks {
        gap: 0;
        justify-content: space-between;
    }

}

@media screen and (max-width: 930px) {
    .block-welcome__container {
        margin: 100px auto 130px 30px;
    }

    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,
    .block-subscription .container, .container-footer{
        max-width: 770px;
    }

    .type button {
        max-width: 210px;
    }

    .block-socials-links {
        padding: 0 15px;
    }

    .container-farm {
        max-width: 690px;
    }
    
    .header-offer {
        margin-bottom: 30px;
    }
    
    .card__text {
        margin: 145px 0 125px 55px;
    }

    .block-customer .container {
        background-size: 250%;
    }

    .block-statistics {
        height: 240px;
        width: 240px;
    }

    .block-statistics_border-green {
        height: 250px;
        width: 250px;
    }

    .blocks-statistics {
        max-width: 600px;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
}

@media screen and (max-width: 800px) {
    .block-welcome .container {
        background-position: -100px 0;
    }

    .container-type {
        height: 350px;
    }

    .block-welcome__container h1 {
        max-width: 600px;
        text-align: left;
        margin: 14px 0 30px;
    }

    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,
    .block-welcome__container, .block-subscription .container,
    .container-footer{
        max-width: 640px;
    }

    header .container {
        max-width: 700px;
    }
    .container-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
    }

    .block-socials-links {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        max-width:fit-content;
        margin: 0 auto 40px;
    }

    .block-socials-links p {
        margin: 25px auto;
    }

    .block-pages {
        grid-row: 2;
        grid-column-start: 2;
        text-align: right;
        justify-content: right;
        padding-right: 20px;
    }

    .block-contact {
        grid-row: 2;
        grid-column-start: 1;
        text-align: left;
        padding-left: 20px;
    }

    .block-content {
        max-width: fit-content;
    }

    .block-content h3 {
        margin-bottom: 20px;
    }

    .block-content ul li {
        margin-bottom: 15px;
    }

    .line {
        display: none;
    }

    .container-farm {
        max-width: 560px;
    }

    .block-welcome__container {
        margin: 80px auto;
    }

    .card__text {
        margin: 100px 0 95px 55px;
    }

    .container-products .card-products .card-product {
        animation: scrollNotepad_800 10s ease-in infinite;
    }


    .container-offer .card-product {
        max-width: 260px;
        padding: 20px;
    }

    .container-offer .card-product > img {
        max-width: 260px;
        margin-bottom: 0px;
    }

    .container-offer .block-mark {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    
    .container-products .card-products .card-product {
        animation: scrollNotepad_768 10s ease-in infinite;
    }

    .container-type {
        height: 300px;
    }

}

@media screen and (max-width: 700px) {

    .block-welcome .container {
        background-position: -200px -50px;
    }

    .container-type {
        height: 520px;
    }

    .type button {
        max-width: 280px;
        margin: 40px auto;
    }

    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,.block-welcome__container,
    .block-subscription .container, .container-footer {
        max-width: 600px;
    }

    header .container {
        max-width: 660px;
    }

    .container-farm {
        max-width: 520px;
    }

    h1.title {
        font-size: 50px;
        line-height: 54px;
    
        margin: 14px auto 30px;
    }

    .container-offer .card-product {
        max-width: 250px;
    }

    .container-offer .card-product > img {
        max-width: 250px;
    }


    .card__text {
        margin: 75px auto 105px 55px;
    }

    .container-type {
        flex-direction: column;
    }

    .container-type > div {
        max-width: 100%;
        background-position: center;
    }
}

@media screen and (max-width: 640px) {
    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,
    .block-welcome__container, .blocks-statistics,
    .block-subscription .container, .container-footer {
        max-width: 490px;
    }

    header .container {
        max-width: 550px;
    }

    .container-offer .card-product {
        padding: 25px;
    }

    .block-pages {
        text-align: left;
    }

    .container-farm {
        max-width: 410px;
    }

    .block-welcome__container h1 {
        margin: 14px 0 30px;
    }

    .header-offer_text, .block-welcome__container h1 {
        max-width: 400px;
    }

    .block-customer .container {
        background-size: 450%;
    }


    .card__text {
        margin: 55px auto 55px 35px;
    }


    .container-products .card-products .card-product {
        animation: scrollNotepad_640 10s ease-in infinite;
    }

    .block-statistics {
        height: 200px;
        width: 200px;
    }

    .block-statistics_border-green {
        height: 210px;
        width: 210px;
    }

    .container-offer .card-products {
        justify-content: center;
        gap: 30px;
    }

    .container-offer .card-product {
        max-width: 440px;
    }

    .container-offer .card-product > img {
        max-width: 440px;
    }

    .form_send {
        flex-direction: column;
    }

    .form_send input {
        width: calc(100% - 30px) ;
    }

    .form_send button {
        max-width: 100%;
        justify-content: space-around;
    }

    .form_send button p {
        margin: 0;
    }
}

@media screen and (max-width: 520px) {

    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,
    .block-welcome__container, .blocks-statistics,
    .block-subscription .container, .container-footer {
        max-width: 390px;
    }

    header .container {
        max-width: 450px;
    }

    .container-footer {
        grid-template-rows: auto;
    }

    .block-pages {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: left;
        justify-content: left;
        padding-right: 0px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .block-contact {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: left;
        padding-left: 20px;
        
    }

    .block-content {
        max-width: fit-content;
    }

    .container-subscription {
        padding: 0 30px;
        margin: 40px auto; 
    }

    .container-farm {
        max-width: 310px;
    }

    .block-cards__container {
        margin: 40px auto;

    }

    .container-offer .card-product {
        max-width: 350px;
    }

    .container-offer .card-product > img {
        max-width: 350px;
        padding: 10px;
    }

    .card__text {
        margin: 25px auto 25px 25px;
    }

    .section-quality {
        margin: 30px auto;
    }

    .section-icon {
        display: none;
    }

    .container-organick__content .text {
        margin-bottom: 30px;
    }

    .block-statistics {
        height: 155px;
        width: 155px;
    }

    .block-statistics_border-green {
        height: 165px;
        width: 165px;
    }

    .block-statistics p {
        font-size: 38px;
        line-height: 40px;
    }
    
    .block-statistics h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 425px) {
    
    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,
    .block-welcome__container, .blocks-statistics,
     .block-subscription .container, .container-footer {
        max-width: 330px;
    }

    .container-type {
        height: 420px;
    }

    .type button {
        height: 60px;
        width: 270px;
        border-radius: 15px;
    }

    header .container {
        max-width: 390px;
    }

    .container-farm {
        max-width: 290px;
        padding: 20px;
    }

    .header-offer_text .title {
        max-width: 280px;
    }

    .block-welcome__container {
        margin: 40px auto;
    }

    .container-products .card-products {
        padding: 0 10px;
    }


    h1.title {
        font-size: 50px;
        line-height: 54px;
    
        margin: 14px auto 30px;
    }

    .button p, .form_send input {
        line-height: 60px;
    }

    .form_send input, .form_send .button {
        height: 60px;
    }

    .button_arrow {
        margin-top: 11px;
    }

    .card__text {
        max-width: 199px;
        margin: 30px auto 55px 25px;
    }

    .pre-title, .header-offer .pre-title {
        font-size: 30px;
        line-height: 45px;
    }

    h3.title, .header-offer .title, .container-farm .title {
        font-size: 30px;
        line-height: 30px;
    }

    .container-farm .title {
        margin-bottom: 20px;
    }

    .card-product {
        max-width: 300px;
        padding: 30px;
    }

    .card-product > img {
        max-width: 300px;
    }

    .container-products .card-products {
        padding: 0 25px;
    }

    .container-products .card-products .card-product {
        animation: scrollNotepad_425 10s ease-in infinite;
    }

    .blocks-statistics {
        justify-content: space-around;
    }

    .block-statistics {
        height: 135px;
        width: 135px;
    }

    .block-statistics_border-green {
        height: 145px;
        width: 145px;
    }

    .container-offer .card-product {
        max-width: 275px;
    }

    .container-offer .card-product > img {
        max-width: 275px;
        
    }


}

@media screen and (max-width: 375px) {

    .container-customer, .container-offer, .container-organick, 
    .block-cards__container, .block-cards__container .card,
    .block-welcome__container, .blocks-statistics,
    .block-subscription .container, .container-footer {
        max-width: 300px;
    }

    .header-blocks {
        margin: 30px 10px;
    }

    header .container {
        max-width: 320px;
    }

    .container-offer .card-product {
        padding: 20px;
    }

    .form_send input {
        width: calc(100% - 10px);
        padding-left: 10px;
    }

    .container-farm {
        max-width: 280px;
        padding: 10px;
    }

    .container-products {
        margin: 30px auto;
    }

    .card__text {
        max-width: 199px;
        margin: 30px auto 40px 25px;
    }

    .section-quality {
        margin: 20px auto 25px;
    }


    .container-organick__content .text {
        margin-bottom: 20px;
    }

    .card-product {
        max-width: 260px;
        padding: 30px;
    }

    .card-product > img {
        max-width: 260px;
    }

    .container-products .card-products {
        padding: 0 25px;
    }

    .container-products .card-products .card-product {
        animation: scrollNotepad_375 10s ease-in infinite;
    }

    .container-customer {
        margin: 40px auto;
    }

    .block-statistics {
        height: 105px;
        width: 105px;
    }

    .block-statistics_border-green {
        height: 115px;
        width: 115px;
    }

    .block-statistics p {
        font-size: 30px;
        line-height: 35px;
    }
    
    .block-statistics h3 {
        font-size: 14px;
        line-height: 16px;
    }

    .container-offer .card-product {
        max-width: 265px;
    }

    .container-offer .card-product > img {
        max-width: 265px;
        
    }
}

@media screen and (max-width: 320px) {
    .block-cards__container {
        margin: 30px auto;
    }

    .block-cards__container {
        gap: 20px;
    }

    .card-product {
        max-width: 220px;
        padding: 30px;
    }

    .card-product > img {
        max-width: 220px;
    }

    .container-products .card-products {
        padding: 0 20px;
    }

    .container-products .card-products .card-product {
        animation: scrollNotepad_320 10s ease-in infinite;
    }

    .block-mark {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .card-product__price-after {
        margin-right: 0;
    }
}


@keyframes scrollNotepad {
    0%, 5% {
        transform: translateX(0);
    }
    15%, 20% {
        transform: translateX(var(--start-width-card-pc));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc) - var(--width-card-pc)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc) - 2 * var(--width-card-pc)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc) - 3 * var(--width-card-pc)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc) - 4 * var(--width-card-pc)));
    }    
    100% {
        transform: translateX(0px);
    }
}


@keyframes scrollNotepad_800 {
    0%, 5% {
        transform: translateX(0);
    }

    15%, 20% {
        transform: translateX(var(--start-width-card-pc_800));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc_800) - var(--width-card-pc)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc_800) - 2 * var(--width-card-pc)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc_800) - 3 * var(--width-card-pc)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc_800) - 4 * var(--width-card-pc)));
    }    
    100% {
        transform: translateX(0px);
    }
}


@keyframes scrollNotepad_768 {
    0%, 5% {
        transform: translateX(0);
    }

    15%, 20% {
        transform: translateX(var(--start-width-card-pc_768));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc_768) - var(--width-card-pc)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc_768) - 2 * var(--width-card-pc)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc_768) - 3 * var(--width-card-pc)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc_768) - 4 * var(--width-card-pc)));
    }    
    100% {
        transform: translateX(0px);
    }
}



@keyframes scrollNotepad_640 {
    0%, 5% {
        transform: translateX(0);
    }

    15%, 20% {
        transform: translateX(var(--start-width-card-pc_640));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc_640) - var(--width-card-pc)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc_640) - 2 * var(--width-card-pc)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc_640) - 3 * var(--width-card-pc)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc_640) - 4 * var(--width-card-pc)));
    }      
    100% {
        transform: translateX(0px);
    }
}



@keyframes scrollNotepad_425 {
    0%, 5% {
        transform: translateX(0);
    }

    15%, 20% {
        transform: translateX(var(--start-width-card-pc_425));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc_425) - var(--width-card-pc_425)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc_425) - 2 * var(--width-card-pc_425)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc_425) - 3 * var(--width-card-pc_425)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc_425) - 4 * var(--width-card-pc_425)));
    }     
    100% {
        transform: translateX(0px);
    }
}

@keyframes scrollNotepad_375 {
    0%, 5% {
        transform: translateX(0);
    }

    15%, 20% {
        transform: translateX(var(--start-width-card-pc_375));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc_375) - var(--width-card-pc_375)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc_375) - 2 * var(--width-card-pc_375)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc_375) - 3 * var(--width-card-pc_375)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc_375) - 4 * var(--width-card-pc_375)));
    }    
    100% {
        transform: translateX(0px);
    }
}

@keyframes scrollNotepad_320 {
    0%, 5% {
        transform: translateX(0);
    }

    15%, 20% {
        transform: translateX(var(--start-width-card-pc_320));
    }

    30%, 35% {
        transform: translateX(calc(var(--start-width-card-pc_320) - var(--width-card-pc_320)));
    }

    45%, 50% {
        transform: translateX(calc(var(--start-width-card-pc_320) - 2 * var(--width-card-pc_320)));
    }

    60%, 65% {
        transform: translateX(calc(var(--start-width-card-pc_320) - 3 * var(--width-card-pc_320)));
    }

    75%, 80% {
        transform: translateX(calc(var(--start-width-card-pc_320) - 4 * var(--width-card-pc_320)));
    }       
    100% {
        transform: translateX(0px);
    }
} 